body {
    font-family: 'Noto Sans JP', sans-serif !important;
}

.btn {
    box-shadow: none !important; /* Removes blue halo */
    border: none !important;
}

.btn:hover {
    box-shadow: none !important; /* Removes blue halo */
    border: none !important;
}

.form-control {
    box-shadow: none !important; /* Removes blue halo */
    border: none !important;
}

.FormBtn {
    box-shadow: none !important; /* Removes blue halo */
}

.btn:focus {
    background-color: #F4B400 !important;
    cursor: pointer !important;
}